<div _ngcontent-vit-c11="" id="Descripcion" class="container mt-5 mb-5">
    <div _ngcontent-vit-c11="" class="card mb-3">
        <div _ngcontent-vit-c11="" class="row g-0">
            <div _ngcontent-vit-c11="" class="col-md-4"><img _ngcontent-vit-c11="" src="../parcial2/assets/img/tds1.JPG"
                    alt="..." class="img-fluid rounded-start"></div>
            <div _ngcontent-vit-c11="" class="col-md-8">
                <div _ngcontent-vit-c11="" class="card-body">
                    <h5 _ngcontent-vit-c11="" class="card-title">Tecnología en Desarrollo de Software</h5>
                    <p _ngcontent-vit-c11="" class="card-text" style="text-align: justify;">El programa de
                        Tecnología en Desarrollo de Software de la Universidad Católica de Pereira, es apoyo para la
                        formación de personas creativas e innovadoras con competencia para aplicar conocimientos en
                        la solución de problemas tecnológicos y con capacidad para la toma de decisiones, capaces de
                        diseñar y desarrollar proyectos que garanticen el uso y aprovechamiento adecuado de sistemas
                        de información en organizaciones nacionales e internacionales, mediante la apropiación de
                        tecnologías informáticas.</p><a _ngcontent-vit-c11=""
                        href="/src/recursos/beech-brown girl.png" target="_blank"
                        class="btn btn-primary"
                        style="background-color: rgb(216,49,53); color: white; border-color: rgb(216,49,53);">Conoce
                        mas </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div _ngcontent-vit-c11="" id="infog" class="container mt-5 mb-5">
    <h1 _ngcontent-vit-c11="" class="mb-5 mt-5" style="text-align: center;">Conoce todos los servicios para ti</h1>
    <div _ngcontent-vit-c11="" class="row">
        <div _ngcontent-vit-c11="" class="col-sm-4">
            <div _ngcontent-vit-c11="" class="card"><img _ngcontent-vit-c11=""
                    src="../parcial2/assets/img/biblioteca.jpg" alt="..." class="card-img-top">
                <div _ngcontent-vit-c11="" class="card-body biblio">
                    <h5 _ngcontent-vit-c11="" class="card-title">Biblioteca Cardenal Darío Castrillón Hoyos </h5>
                    <p _ngcontent-vit-c11="" class="card-text" style="text-align: justify;">La Biblioteca Cardenal
                        Darío Castrillón Hoyos les da la bienvenida. Atrévete a conocer algo de nuestros servicios a
                        través de este recorrido virtual.</p><a _ngcontent-vit-c11=""
                        href="/src/recursos/cen.jpg" target="_blank" class="btn btn-primary">Más
                        Información </a>
                </div>
            </div>
        </div>
        <div _ngcontent-vit-c11="" class="col-sm-4">
            <div _ngcontent-vit-c11="" class="card"><img _ngcontent-vit-c11="" src="../parcial2/assets/img/CIE.jpg"
                    alt="..." class="card-img-top">
                <div _ngcontent-vit-c11="" class="card-body cie">
                    <h5 _ngcontent-vit-c11="" class="card-title">CIE</h5>
                    <p _ngcontent-vit-c11="" class="card-text" style="text-align: justify;">La Universidad Católica
                        de Pereira busca fomentar el uso y apropiación de las Tecnologías de la Información y la
                        Comunicación con el fin de fortalecer los procesos académicos.</p><a _ngcontent-vit-c11=""
                        href="/src/recursos/cen.jpg" target="_blank" class="btn btn-primary">Más
                        Información </a>
                </div>
            </div>
        </div>
        <div _ngcontent-vit-c11="" class="col-sm-4">
            <div _ngcontent-vit-c11="" class="card"><img _ngcontent-vit-c11="" src="../parcial2/assets/img/capsi.png"
                    alt="..." class="card-img-top">
                <div _ngcontent-vit-c11="" class="card-body uni">
                    <h5 _ngcontent-vit-c11="" class="card-title">CAPSI</h5>
                    <p _ngcontent-vit-c11="" class="card-text">El centro de atención psicológica es una IPS de
                        objeto social diferente adscrita al Programa de Psicología de la Facultad de Ciencias
                        Humanas, Sociales y de la Educación.</p><a _ngcontent-vit-c11=""
                        href="/src/recursos/centaur.png" target="_blank" class="btn btn-primary">Más Información
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>