<div class="navd">
    <nav class="nav">
        <img class="nav_logo" src="/src/recursos/ucp.png" alt="logo">
        <div class="nav_links">
            <a class="nav_link" href="#inicio">Inicio</a>
            <a class="nav_link" href="#Descripcion">Descripcion</a>
            <a class="nav_link" href="#infog">Informacion General</a>
            <a class="nav_link" href="#asis">Asistencia</a>
            <a class="nav_link" href="">Redes Sociales</a>
        </div>
    </nav>
</div>
<div class="imagenes">
</div>
